<ion-pan>
<ion-content>
  <div class="row" >
    <div class="col">
      <img src="img/small-logo.png" alt="" />
    </div>
    <div class="col">
    </div>
    <div class="col-30">

    </div>
  </div>
  <header>
    <div class="row">
      <div class="col col-20" style="z-index:998">
        <img ng-src="{{company.logo}}"  width="50px" alt="" />
      </div>
      <div class="col" style="line-height: 50px;padding: 20px;padding-top: 10px;font-size: xx-large;z-index: 998;color: white;">
        {{company.name}}
      </div>
    </div>
  </header>
  <div class="top-icons">
    <div class="row">
      <div class="col" ng-click="goGalery(company.images)">
        <img src="img/icon.png" width="75" alt="" />
      </div>
      <div class="col" ng-click="goGalery(company.events)">
        <img src="img/events.png" width="75"  alt="" />
      </div>
      <div class="col" ng-click="goMal(company.adresse)">
        <img src="img/big-icons/map.png" width="75"  alt="" />
      </div>
      <div class="col" ng-click="goGalery(company.vids)">
        <img src="img/video.png" width="75"  alt="" />
      </div>
    </div>
  </div>
  <div class="core-company" style="width: 100%;margin: 0 auto;">
    <div class="row">
      Email : <input type="text" name="email" ng-model="company.email" value="">
    </div>
    <div class="row">
      Tel :  <input type="text" name="phone" ng-model="company.tel" value="">
    </div>
    <div class="row">
      Adress :  <input type="text" name="phone" ng-model="company.adress" value="">
    </div>
    <div class="row">
      Social Medias:
    </div>
  </div>
  <div class="socials">
    <div class="row" style="width:60%;margin:0 auto">
      <div class="col col-35">
        <a href="{{company.fb}}"><img src="img/fb.png" width="50" alt="" /></a>
      </div>
      <div class="col col-35">
        <a href="{{company.insta}}"><img src="img/insta.png" width="50" alt="" /></a>
      </div>
      <div class="col col-35">
        <a href="{{company.twiter}}"><img src="img/twiter.png" width="50" alt="" /></a>
      </div>
    </div>
    <div class="row" style="width:60%;margin:0 auto">
      <div class="col col-35">
        <a href="{{company.in}}"><img src="img/in.png" width="50" alt="" /></a>
      </div>
      <div class="col col-35">
        <a href="{{company.snap}}"><img src="img/snap.png" width="50" alt="" /></a>
      </div>
      <div class="col col-35">
        <a href="{{google.google}}"><img src="img/google.png" width="50" alt="" /></a>
      </div>
    </div>
  </div>

</ion-content>
</ion-pan>
