<ion-pan>
<ion-content>
  <div class="row" >
    <div class="col">
      <img src="img/small-logo.png" alt="" />
    </div>
    <div class="col">
    </div>
    <div class="col-30">
      <townlist sc='townname' style="line-height: 21px;"></townlist>
    </div>
  </div>
  <header>
    <div class="row">
      <div class="col col-20" style="z-index:998">
        <img ng-src="{{url}}"  width="50px" alt="" />
      </div>
      <div class="col" style="line-height: 50px;padding: 20px;padding-top: 10px;font-size: xx-large;z-index: 998;color: white;">
        ok ok ok ok ok
      </div>
    </div>
  </header>
  <div class="top-icons">
    <div class="row">
      <div class="col">
        <img src="img/icon.png" width="75" alt="" />
      </div>
      <div class="col">
        <img src="img/events.png" width="75"  alt="" />
      </div>
      <div class="col">
        <img src="img/big-icons/map.png" width="75"  alt="" />
      </div>
      <div class="col">
        <img src="img/video.png" width="75"  alt="" />
      </div>
    </div>
  </div>
  <div class="core-company">
    <div class="row">
      Email :
    </div>
    <div class="row">
      Tel :
    </div>
    <div class="row">
      Adress :
    </div>
    <div class="row">
      Social Medias:
    </div>
  </div>
  <div class="socials">
    <div class="row" style="width:60%;margin:0 auto">
      <div class="col col-35">
        <img src="img/fb.png" width="50" alt="" />
      </div>
      <div class="col col-35">
        <img src="img/insta.png" width="50" alt="" />
      </div>
      <div class="col col-35">
        <img src="img/twiter.png" width="50" alt="" />
      </div>
    </div>
    <div class="row" style="width:60%;margin:0 auto">
      <div class="col col-35">
        <img src="img/in.png" width="50" alt="" />
      </div>
      <div class="col col-35">
        <img src="img/snap.png" width="50" alt="" />
      </div>
      <div class="col col-35">
        <img src="img/google.png" width="50" alt="" />
      </div>
    </div>
  </div>

</ion-content>

</ion-pan>
