<ion-pan>
<ion-content>
  <div class="row" >
    <div class="col">
      <img src="img/small-logo.png" alt="" />
    </div>
    <div class="col">
    </div>
    <div class="col-30">
      <townlist sc='townname' style="line-height: 21px;"></townlist>
    </div>
  </div>
  <header>
    <div class="row">
      <div class="col col-20" style="z-index:998">
        <img ng-src="{{url}}"  width="50px" alt="" />
      </div>
      <div class="col" style="line-height: 50px;padding: 20px;padding-top: 10px;font-size: xx-large;z-index: 998;color: white;">
        ok ok ok ok ok
      </div>
    </div>
  </header>
  <div class="core-company">
    <div class="row">
      Email :
    </div>
    <div class="row">
      Tel :
    </div>
    <div class="row">
      Adress :
    </div>
    <div class="row">
      Social Medias:
    </div>
  </div>
  <div class="row">
    <div class="col col-35">
ok
    </div>
    <div class="col col-35">
ok
    </div>
    <div class="col col-35">
ok
    </div>
  </div>

</ion-content>

</ion-pan>
